.container {
    margin: 20px;
    justify-content: center;
    align-items: center;
    z-index: 5;
}


.Title{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
}

.Auth {
    justify-content: center;
    position: sticky;
    top: 70px;
    margin-bottom: 20px;
    
}

.Article {
    justify-content: flex-start;
    border: 5px solid;
    margin-bottom: 20px;
    width: 650px;
    position: sticky;
}

/* .container{
    border: 2px solid;
} */

/* resposive part */
@media (max-width: 768px) {
    .Article, .Auth{
      width: 100%; /* Adjust width for smaller screens */
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
  }

    