.Auth-Wrapper {
    width: 380px;
    background-color: #ffffff;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.301), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.322);
    padding: 20px;
}


.Auth-Switch {
    position: relative;
    width: 100%;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

}

.Auth-Switch .nav-link.active {
    color: black;
    border-bottom: 3px solid #FFC413;
    box-shadow: inset 2px 2px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.Auth-Switch .nav-link {
    color: black;

}

.Auth-Switch .nav-link:hover {
    color: black;
}

.Auth-Subtitle {
    position: relative;
    width: 100%;
    padding-bottom: 20px;

}

.form {
    align-items: center;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: fit-content;
    margin: 0px 20px 0px 20px;
    padding: 0 0 10px 0;
}

.form-input {
    margin: 10px;
    width: 80%;
    padding: 5px;
    border: none;
    background-color: #ffffff;
    border-bottom: 2px solid #FFC413;
    


}

.form-button {
    position: relative;
    width: 50%;
    border-radius: 10px;
    border: none;
    margin: 20px 0 0 0;
    height: 40px;
    background-color: #FFC413;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

}

.lucide{
    color: rgba(0, 0, 0, 0.507);
}