.Navigation {
    background-color: #ffc413;
    height: 60px;
    color: black;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.Navigation .navbar-nav {
    margin-left: auto;
}

.full-hover{
    color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
}

.navbar-brand img {
    width: 50px;
    height: auto;
}

.full-hover:hover {
    background-color: rgba(0, 2, 61, 0.5);
    border-bottom: 7px solid rgb(0, 2, 61);
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.full-hover:hover .nav-text {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease, padding-left 0.3s ease;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 40px;
        height: auto;
    }
    .offcanvas-hover{
        padding-top:20px;
        color: #000;
        height: 50px;
        text-decoration: none;
        align-items: end;
        border-bottom: 2px solid;
    }
    
    .offcanvas-hover:hover {
        background-color: rgba(0, 2, 61, 0.5);
        border-bottom: 7px solid rgb(0, 2, 61);
        transition: background-color 0.3s ease, border-bottom 0.3s ease;
        border-radius: 3px;
    }
    .offcanvas-hover:hover .nav-text {
        color: rgb(255, 255, 255);
        padding-left: 10px;
        transition: color 0.3s ease, padding-left 0.3s ease;
    }
}