.container{
    background-color: white;
    position: relative;
    color: black;
    top: 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.lihat {
   
}

.edit {
   
}

.hapus {
   
}